@model List<ClothBazar.Entities.Category>

@{
    ViewBag.Title = "Index";
}

<style>
  .card .content{
      text-align:center;
  }

  .card .content h2{
      font-weight: 700;
      font-size: 30px;
      color: #808080;
  }

  .card{
      transition:0.3s ease;
  }
  .card:hover{
       transform: translateY(-10px);
  }
</style>

<h2>Category List</h2>

@Html.ActionLink("Add Category","Create")
<br />
<br />


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@item.ImageUrl" />
                <div class="content">
                    <h2>@item.Name</h2>
                    @Html.ActionLink("Details", "Details", new { Id = @item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { Id = @item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = @item.Id })
                </div>
            </div>
        </div>
    }
</div>

